<tr>
  <td colspan="2"></td>
  <td>
    <%= form_with model: [ item, Comment.new ] do |form| %>

      <%= form.hidden_field :parent_comment_id, value: nil %>

      <%= form.text_area :text, rows: "8", cols: "90", wrap: "virtual" %>
      <br>
      <br>
        <%= form.submit value: "留下评论" %>
    <% end %>
  </td>
</tr>

