<% provide(:title, @item.title) %>
<tr>
  <td>
    <table class="fatitem" border="0">
      <tbody>
      <%= render @item %>
      <%= render "comments/new", item: @item %>
      </tbody>
    </table>
    <br>
    <br>
    <table border="0" class="comment-tree">
      <tbody>
      <%= render @item.comments%>
      </tbody>
    </table>
    <br>
    <br>
  </td>
</tr>