<tr>
  <td>
    <img src="/s.gif" height="10" width="0">
    <table width="100%" cellspacing="0" cellpadding="1">
      <tbody>
      <tr>
        <td style="background-color: #1C9BF0"></td>
      </tr>
      </tbody>
    </table>
    <br>
    <center>
      <a href="https://www.ycombinator.com/apply/" style="color: #828282">YC Summer 2023 申请已开放</a>
    </center>
    <br>
    <div style="text-align: center;">
      <span class="yclinks">
        <a href="/guidelines">指南</a> |
        <a href="/faq">常见问题</a> |
        <a href="/lists">清单</a> |
        <a href="/API">接口</a> |
        <a href="/security">安全</a> |
        <a href="/legal/">法律</a> |
        <a href="mailto:hn@ycombinator.com">联系</a>
      </span>
      <br>
      <br>
      <form method="get" action="//hn.algolia.com/">搜索:
        <input type="text" name="q" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
      </form>
      <br>
    </div>
  </td>
</tr>


